div.uw_studentbudget_calculator_mainsection div.form-type-textfield input.form-text {
  float: right;
  text-align: right;
}

div.uw_studentbudget_calculator_mainsection div.form-type-textfield label {
  margin: 0;
}

div.uw_studentbudget_calculator_mainsection div.form-type-textfield span.field-prefix {
  font-size: 0.85em;
  margin: 0;
}

div.uw_studentbudget_calculator_mainsection div.uw_studentbudget_calculator_otheritems_wrapper div.uw_studentbudget_calculator_otheritems_description_item input.form-text {
  margin-bottom: 1.8125em;
}

div.uw_studentbudget_calculator_mainsection div.uw_studentbudget_calculator_otheritems_wrapper div.uw_studentbudget_calculator_otheritems_value_item input.form-text {
  margin-top: -2.375em;
}

div#edit-uw-studentbudget-calculator-study-period {
  margin-top: 0.5em;
}
div.uw_studentbudget_calculator_mainsection h2 {
  margin-top: 1em;
}

div.uw_studentbudget_calculator_mainsection h3 {
  margin-top: 0.8em;
}

#uw-studentbudget-calculator-displayform input.form-submit {
  margin: 0 0.2em 0.2em 0;
  max-width: 15rem;
}

div.uw_studentbudget_calculator_mainsection div.uw_studentbudget_calculator_otheritems_wrapper div.uw_studentbudget_calculator_otheritems_description_item {
  overflow: hidden;
  width: 100%;
}
